*{
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}
header{
    position:fixed;
    width:100vw;
    height:100px;
    left:0;
    top:50px;
    background:rgb(51, 49, 52);
    text-align:center;
    z-index:10;
}
h1{
    position:relative;
    top:25px;
    color:white;
}
.block{
    margin-top:250px;
}
.myLi{
    position:relative;
    background:rgb(51, 49, 52);
    width:70%;
    height:300px;
    left:15%;
    margin-top:20px;
    padding:20px;
    color:white;
}
img{
    position:absolute;
    top:20px;
    width:150px;
    height:150px;
    object-fit:cover;
}
h3, p{
    position:relative;
    left:200px;
}
p{
    margin:0;
    padding:0;
}

